<!DOCTYPE html>
<title><%= componentName %> Demo</title>
<script
  src="<%= `${pathPrefix.split('/').concat('').map(v => '..').join('/')}` %>/node_modules/steal/steal.js"
  main="@empty"
></script>
<script type="text/steal-module">
  import React from 'react';
  <%- renderDemo ? `import { render } from '${renderDemo}';` : `import ReactDOM from 'react-dom';` %>

  import <%= componentName %> from '<%= pathPrefix.replace('src', '~') %>/<%= fileName %>';
<%- renderDemo ? '' : `
  const container = document.createElement('div');
  document.body.appendChild(container);
` %>
  <%- renderDemo ? 'render(' : 'ReactDOM.render((' %>
    <<%= componentName %> id="id" name="name" />
  <%- renderDemo ? ');' : '), container);' %>
</script>
